@use "./variables" as *;

.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__title{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        font-size:100px;
        font-family:$font-body1;
        margin-top:500px;
        //margin-bottom:100px;
        //margin-left:134px;
    }

    &__button{
        display:flex;
        font-size:24px;
        font-family:$font-body2;
        border: 4px solid $secondary-color;
        height: 79px;
        width: 321px;
        text-decoration: none;
        color: $secondary-color;
        justify-content: center;
        align-items: center;
        margin-bottom:100px;

        &:hover{
            color: $tertiary-color; 
            text-decoration: underline;
            text-underline-offset: 1rem;
            text-decoration-color: $tertiary-color;
            border: 4px solid $tertiary-color 
        }
    }
}

@media only screen and (max-device-width: 768px) {
    .contact {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            font-size:50px;
            //margin-right: 40px;
            //margin-left: 40px;
            margin-top:200px;
        }

        &__button {
            display:flex;
            justify-content: center;
            font-size: 16px;
            margin-top: 50px;
            height: 70px;
            width: 230px;
        
        }
    }
}