@use "./variables" as *;
@use "./variables" as *;

section {
    footer {
      background-color: #333; 
      
      .foot {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100px; 
        max-width:100%; 
        background-color: black;
  
        .foot__contacts {
          list-style: none;
          padding: 0;
          background-color: black;
  
          .foot__button {
            margin: 0 20px; 
            background-color: #000; 
            padding: 10px; 
            border-radius: 8px; 
            display: inline-block;
  
            .foot__img1,
            .foot__img2 {
              width: 30px; 
              height: auto; 
              filter: invert(1); 
            }
          }
        }
      }
    }
  }



@media screen and (max-width: 425px) {
    .foot{
        flex-direction: column;
        justify-content: center;
        height: auto;
        width:100vw;
        background-color: $secondary-color;


        .foot__button {
        margin-bottom: 5px;
        background-color:$secondary-color;
        margin-left: 50px;

        }
    }
}

