@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap');

$font-body1: 'Cormorant', serif;
$font-body2: 'Inter', serif;

$primary-color: white;
$secondary-color: black;
$tertiary-color: grey;