@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");
.head__title {
  display: flex;
  flex-direction: column;
  font-size: 128px;
  font-family: "Cormorant", serif;
  justify-content: center;
  align-items: center;
  margin-top: 213px;
}
.head__info {
  font-size: 20px;
  font-family: "Inter", serif;
  text-align: left;
  margin-top: 100px;
  margin-left: 191px;
  max-width: 615px;
  height: 128px;
  display: flex;
  justify-content: flex-start;
  line-height: 32px;
}

@media only screen and (max-device-width: 768px) {
  .head {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .head__title {
    display: flex;
    justify-content: center;
    font-size: 75px;
    margin-right: 0px;
  }
  .head__info {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 0 20px;
}
.navbar__button {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  text-decoration-color: white;
  color: black;
  font-family: "Inter", serif;
}
.navbar__button--about:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar__button--projects:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar__button--contact:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar .logo {
  font-family: "Cormorant", serif;
  font-size: 48px;
}
.navbar .logo:hover {
  cursor: default;
}

@media only screen and (max-device-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .navbar__button {
    display: none;
  }
  .navbar .logo {
    justify-content: center;
    margin-top: 100px;
    font-size: 24px;
  }
}
.about {
  display: flex;
  max-width: 873px;
  margin-top: 200px;
}
.about__content {
  display: flex;
  flex-direction: column;
}
.about__content__text {
  margin-left: 400px;
}
.about__content__text__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-top: 48px;
}
.about__content__text__paragraph, .about__content__text__paragraph2 {
  font-family: "Inter", serif;
  font-size: 18px;
  margin-top: 10px;
  max-width: 200px;
  height: auto;
}
.about__content__text__paragraph2 {
  margin-top: 5px;
}
.about__content__text__img1 {
  max-width: 200px;
  height: 558px;
  margin-top: 100px;
  order: 1;
}

@media only screen and (max-device-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .about .about__title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 50px;
  }
  .about .about__paragraph2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 0px;
  }
  .about .about__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .about .about__img1 {
    width: 280px;
    height: 240px;
    margin-bottom: 50px;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  margin-left: 134px;
}
.skills__p {
  font-family: "Inter", serif;
  font-size: 20px;
  margin-top: 100px;
}
.skills__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 150px;
}
.skills__icons {
  max-width: 100%;
  height: auto;
  margin-top: 200px;
  align-items: center;
}

@media only screen and (max-device-width: 768px) {
  .skills {
    display: none;
  }
}
.project {
  display: flex;
  flex-direction: column;
}
.project__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-bottom: 30px;
  margin-left: 134px;
  margin-top: 200px;
}
.project__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-row-gap: 400px;
  margin-left: 55px;
}
.project__card .project__card1,
.project__card .project__card2,
.project__card .project__card3,
.project__card .project__card4,
.project__card .project__card5,
.project__card .project__card6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 472.42px;
  height: 265px;
}
.project__card .project__card1 .projects__img1,
.project__card .project__card1 .project__img2,
.project__card .project__card1 .project__img3,
.project__card .project__card1 .project__img4,
.project__card .project__card1 .project__img5,
.project__card .project__card1 .project__img6,
.project__card .project__card2 .projects__img1,
.project__card .project__card2 .project__img2,
.project__card .project__card2 .project__img3,
.project__card .project__card2 .project__img4,
.project__card .project__card2 .project__img5,
.project__card .project__card2 .project__img6,
.project__card .project__card3 .projects__img1,
.project__card .project__card3 .project__img2,
.project__card .project__card3 .project__img3,
.project__card .project__card3 .project__img4,
.project__card .project__card3 .project__img5,
.project__card .project__card3 .project__img6,
.project__card .project__card4 .projects__img1,
.project__card .project__card4 .project__img2,
.project__card .project__card4 .project__img3,
.project__card .project__card4 .project__img4,
.project__card .project__card4 .project__img5,
.project__card .project__card4 .project__img6,
.project__card .project__card5 .projects__img1,
.project__card .project__card5 .project__img2,
.project__card .project__card5 .project__img3,
.project__card .project__card5 .project__img4,
.project__card .project__card5 .project__img5,
.project__card .project__card5 .project__img6,
.project__card .project__card6 .projects__img1,
.project__card .project__card6 .project__img2,
.project__card .project__card6 .project__img3,
.project__card .project__card6 .project__img4,
.project__card .project__card6 .project__img5,
.project__card .project__card6 .project__img6 {
  width: 100%;
  height: auto;
  align-items: center;
}
.project__card .project__card1 .project__button,
.project__card .project__card2 .project__button,
.project__card .project__card3 .project__button,
.project__card .project__card4 .project__button,
.project__card .project__card5 .project__button,
.project__card .project__card6 .project__button {
  display: flex;
  margin-top: 10px;
  background-color: white;
  color: black;
  font-family: "Inter", serif;
  font-size: 12px;
  text-decoration: none;
  justify-content: flex-start;
}
.project__card .project__card1 .project__button--eye,
.project__card .project__card1 .project__button--snippet,
.project__card .project__card2 .project__button--eye,
.project__card .project__card2 .project__button--snippet,
.project__card .project__card3 .project__button--eye,
.project__card .project__card3 .project__button--snippet,
.project__card .project__card4 .project__button--eye,
.project__card .project__card4 .project__button--snippet,
.project__card .project__card5 .project__button--eye,
.project__card .project__card5 .project__button--snippet,
.project__card .project__card6 .project__button--eye,
.project__card .project__card6 .project__button--snippet {
  background-color: white;
}
.project__card .project__card1 .project__name,
.project__card .project__card2 .project__name,
.project__card .project__card3 .project__name,
.project__card .project__card4 .project__name,
.project__card .project__card5 .project__name,
.project__card .project__card6 .project__name {
  display: flex;
  font-family: "Cormorant", serif;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 42px;
}

@media only screen and (max-width: 768px) {
  .project__card {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
    margin-top: 15px;
  }
  .project__card .project__card1,
  .project__card .project__card2,
  .project__card .project__card3 {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .project__card .project__card4,
  .project__card .project__card5,
  .project__card .project__card6 {
    display: none;
  }
  .project__card .project__name {
    font-size: 12;
  }
  .project__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    margin-left: 0;
    margin-top: 100px;
  }
  .project__name {
    font-size: 12px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  font-family: "Cormorant", serif;
  margin-top: 500px;
  margin-bottom: 100px;
  margin-left: 134px;
}
.contact__button {
  display: flex;
  font-size: 24px;
  font-family: "Inter", serif;
  border: 4px solid black;
  height: 79px;
  width: 321px;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.contact__button:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
  border: 4px solid grey;
}

@media only screen and (max-device-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 400px;
  }
  .contact__button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 50px;
    height: 79px;
    width: 272px;
  }
}
footer {
  background-color: black;
  height: 114px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer__foot {
  display: flex;
  justify-content: center;
}
footer__foot__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: black;
  text-decoration: none;
  border-radius: 50%;
}
footer__foot__button__img1, footer__foot__button__img2, footer__foot__button__img3 {
  width: 20px;
  height: 20px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .foot {
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: black;
  }
  .foot .foot__contacts {
    margin-top: 100px;
  }
  .foot .foot__button {
    margin-bottom: 5px;
    background-color: black;
    margin-left: 50px;
  }
}
* {
  background-color: white;
}/*# sourceMappingURL=main.css.map */