@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.head__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-family: "Cormorant", serif;
  justify-content: center;
  align-self: center;
  margin-top: 213px;
}
.head__info {
  font-size: 20px;
  display: flex;
  font-family: "Inter", serif;
  align-self: center;
  margin-top: 100px;
  max-width: 615px;
  height: 128px;
  display: flex;
  justify-content: center;
  line-height: 32px;
}

@media only screen and (max-device-width: 768px) {
  .head {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
  }
  .head .head__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .head__info {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 30px 30px;
}
.navbar__button {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  text-decoration-color: white;
  color: black;
  font-family: "Inter", serif;
}
.navbar__button--about:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar__button--projects:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar__button--contact:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar .logo {
  font-family: "Cormorant", serif;
  font-size: 48px;
}
.navbar .logo:hover {
  cursor: default;
}

@media only screen and (max-device-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .navbar__button {
    display: none;
  }
  .navbar .logo {
    justify-content: center;
    margin-top: 100px;
    font-size: 24px;
  }
}
.about__container {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 48px;
  margin-bottom: 10px;
  font-family: "Cormorant", serif;
  margin-left: 130px;
}
.about__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
}
.about__content--img {
  width: 350px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 80px;
}
.about__content--paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  margin-top: 50px;
  margin-right: 80px;
  font-family: "Inter", serif;
  font-size: 20px;
  max-width: 60%;
  padding: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
}
.skills__p {
  font-family: "Inter", serif;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
}
.skills__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 150px;
  margin-left: 130px;
}
.skills__icons {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  height: auto;
  margin-top: 200px;
  align-self: center;
}

@media only screen and (max-device-width: 768px) {
  .skills {
    display: none;
  }
}
.project {
  display: flex;
  flex-direction: column;
}
.project__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-bottom: 30px;
  margin-left: 134px;
  margin-top: 200px;
}
.project__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-row-gap: 400px;
  margin-left: 55px;
}
.project__card .project__card1,
.project__card .project__card2,
.project__card .project__card3,
.project__card .project__card4,
.project__card .project__card5,
.project__card .project__card6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 472.42px;
  height: 265px;
  align-self: center;
}
.project__card .project__img1,
.project__card .project__img2,
.project__card .project__img3,
.project__card .project__img4,
.project__card .project__img5,
.project__card .project__img6 {
  width: 472.42px;
  max-height: 265px;
  align-self: center;
  border-radius: 10px;
}
.project__card .project__button {
  display: flex;
  margin-top: 10px;
  background-color: white;
  color: black;
  font-family: "Inter", serif;
  font-size: 12px;
  text-decoration: none;
  flex-direction: row;
  justify-content: flex-start;
}
.project__card .project__button--eye,
.project__card .project__button--snippet {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
.project__card .project__name {
  display: flex;
  font-family: "Cormorant", serif;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 42px;
}

@media only screen and (max-width: 768px) {
  .project__card {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
    margin-top: 15px;
  }
  .project__card .project__card1,
  .project__card .project__card2,
  .project__card .project__card3 {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .project__card .project__card4,
  .project__card .project__card5,
  .project__card .project__card6 {
    display: none;
  }
  .project__card .project__name {
    font-size: 12;
  }
  .project__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    margin-left: 0;
    margin-top: 100px;
  }
  .project__name {
    font-size: 12px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-size: 100px;
  font-family: "Cormorant", serif;
  margin-top: 400px;
}
.contact__button {
  display: flex;
  font-size: 24px;
  font-family: "Inter", serif;
  border: 4px solid black;
  height: 79px;
  width: 321px;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.contact__button:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
  border: 4px solid grey;
}

@media only screen and (max-device-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: 50px;
    margin-top: 200px;
  }
  .contact__button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 50px;
    height: 70px;
    width: 230px;
  }
}
section footer {
  background-color: #333;
}
section footer .foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  max-width: 100%;
  background-color: black;
}
section footer .foot .foot__contacts {
  list-style: none;
  padding: 0;
  background-color: black;
}
section footer .foot .foot__contacts .foot__button {
  margin: 0 20px;
  background-color: #000;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}
section footer .foot .foot__contacts .foot__button .foot__img1,
section footer .foot .foot__contacts .foot__button .foot__img2 {
  width: 30px;
  height: auto;
  filter: invert(1);
}

@media screen and (max-width: 425px) {
  .foot {
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: black;
  }
  .foot .foot__button {
    margin-bottom: 5px;
    background-color: black;
    margin-left: 50px;
  }
}
* {
  background-color: white;
}/*# sourceMappingURL=main.css.map */