@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");
.head__title {
  display: flex;
  flex-direction: column;
  font-size: 128px;
  font-family: "Cormorant", serif;
  justify-content: center;
  align-items: center;
  margin-top: 213px;
}
.head__info {
  font-size: 20px;
  font-family: "Inter", serif;
  text-align: left;
  margin-top: 100px;
  margin-left: 191px;
  max-width: 615px;
  height: 128px;
  display: flex;
  justify-content: flex-start;
  line-height: 32px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 0 20px;
}
.navbar__button {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  text-decoration-color: white;
  color: black;
  font-family: "Inter", serif;
}
.navbar__button--about:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar__button--projects:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar__button--contact:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}
.navbar .logo {
  font-family: "Cormorant", serif;
  font-size: 48px;
}
.navbar .logo:hover {
  cursor: default;
}

.about {
  display: flex;
  max-width: 873px;
  margin-top: 200px;
}
.about__content {
  display: flex;
  flex-direction: column;
}
.about__content__text {
  margin-left: 400px;
}
.about__content__text__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-top: 48px;
}
.about__content__text__paragraph, .about__content__text__paragraph2 {
  font-family: "Inter", serif;
  font-size: 18px;
  margin-top: 10px;
  max-width: 200px;
  height: auto;
}
.about__content__text__paragraph2 {
  margin-top: 5px;
}
.about__content__img1 {
  max-width: 200px;
  height: 558px;
  margin-top: 100px;
  order: 1;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-left: 134px;
}
.skills__p {
  font-family: "Inter", serif;
  font-size: 20px;
  margin-top: 100px;
}
.skills__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 150px;
}
.skills__icons {
  max-width: 100%;
  height: auto;
  margin-top: 200px;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
}
.project__title {
  font-family: "Cormorant", serif;
  font-size: 48px;
  margin-bottom: 30px;
  margin-left: 134px;
  margin-top: 200px;
}
.project__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-row-gap: 300px;
  margin-left: 134px;
}
.project__card .project__card1,
.project__card .project__card2,
.project__card .project__card3,
.project__card .project__card4,
.project__card .project__card5,
.project__card .project__card6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 472.42px;
  height: 265px;
}
.project__card .project__card1 .projects__img1,
.project__card .project__card1 .project__img2,
.project__card .project__card1 .project__img3,
.project__card .project__card1 .project__img4,
.project__card .project__card1 .project__img5,
.project__card .project__card1 .project__img6,
.project__card .project__card2 .projects__img1,
.project__card .project__card2 .project__img2,
.project__card .project__card2 .project__img3,
.project__card .project__card2 .project__img4,
.project__card .project__card2 .project__img5,
.project__card .project__card2 .project__img6,
.project__card .project__card3 .projects__img1,
.project__card .project__card3 .project__img2,
.project__card .project__card3 .project__img3,
.project__card .project__card3 .project__img4,
.project__card .project__card3 .project__img5,
.project__card .project__card3 .project__img6,
.project__card .project__card4 .projects__img1,
.project__card .project__card4 .project__img2,
.project__card .project__card4 .project__img3,
.project__card .project__card4 .project__img4,
.project__card .project__card4 .project__img5,
.project__card .project__card4 .project__img6,
.project__card .project__card5 .projects__img1,
.project__card .project__card5 .project__img2,
.project__card .project__card5 .project__img3,
.project__card .project__card5 .project__img4,
.project__card .project__card5 .project__img5,
.project__card .project__card5 .project__img6,
.project__card .project__card6 .projects__img1,
.project__card .project__card6 .project__img2,
.project__card .project__card6 .project__img3,
.project__card .project__card6 .project__img4,
.project__card .project__card6 .project__img5,
.project__card .project__card6 .project__img6 {
  width: 100%;
  height: auto;
}
.project__card .project__card1 .project__button,
.project__card .project__card2 .project__button,
.project__card .project__card3 .project__button,
.project__card .project__card4 .project__button,
.project__card .project__card5 .project__button,
.project__card .project__card6 .project__button {
  margin-top: 10px;
}
.project__card .project__card1 .project__name,
.project__card .project__card2 .project__name,
.project__card .project__card3 .project__name,
.project__card .project__card4 .project__name,
.project__card .project__card5 .project__name,
.project__card .project__card6 .project__name {
  display: flex;
  font-family: "Cormorant", serif;
  justify-content: flex-start;
  margin-top: 10px;
}

* {
  background-color: white;
}/*# sourceMappingURL=main.css.map */